/*style generale*/

body {
    background-color: aliceblue
}


/*style header*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1,
h2,
h3 {
    text-align: center;
}


/*lien nav en colonne*/

nav li {
    list-style-type: none;
    align-items: center;
    margin: 0.5rem;
}

nav ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}


/*main en colonne*/

section,
article,
form,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section ul {
    display: flex;
    flex-direction: column;
}

p,
span {
    text-align: center;
}


/*image transparente*/

img:hover {
    opacity: 0.80;
}


/*image avec bord arrondi*/

img {
    border-radius: 3px;
}


/*image noir et blanc*/

img:first-of-type {
    filter: grayscale(70%);
}


/*menu deroulant*/

.burger a {
    background-color: greenyellow;
    color: black;
    display: block;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
}

.burger a:hover {
    background-color: #ccc;
}

.burger a.active {
    background-color: #04AA6D;
    color: white;
}


/*css pour grand ecran*/

@media screen and (min-width: 600px) {
    /*style genérale*/
    body {
        background-color: cornflowerblue;
    }
    /*style header*/
    header {
        margin-bottom: 2rem;
    }
    h1 {
        margin: auto;
    }
    /*style navigation*/
    nav ul {
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    /*style partie projet*/
    .projet {
        display: flex;
        flex-direction: row;
    }
    .projet section {
        justify-content: space-between;
        width: 35%;
    }
    /*style partie Formation*/
    img {
        align-items: center;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    section ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 25%;
    }
    section span {
        margin-right: 10rem;
    }
    /*style partie article*/
    .article {
        display: flex;
        flex-direction: row;
    }
    .article article {
        justify-content: space-between;
        width: 50%;
    }
}